CONNECT_BOOTSTRAP_SERVERS=<bootstrap server>
CONNECT_SECURITY_PROTOCOL=SASL_SSL
CONNECT_SASL_MECHANISM=PLAIN
CONNECT_CONSUMER_SASL_JAAS_CONFIG=$${gcp:<gcp_project>:<gcp_secret_name>:latest}

CONNECT_CONSUMER_BOOTSTRAP_SERVERS=<bootstrap server>
CONNECT_CONSUMER_SECURITY_PROTOCOL=SASL_SSL
CONNECT_CONSUMER_SASL_MECHANISM=PLAIN
CONNECT_CONSUMER_SASL_JAAS_CONFIG=$${gcp:<gcp_project>:<gcp_secret_name>:latest}

CONNECT_PRODUCER_BOOTSTRAP_SERVERS=<bootstrap server>
CONNECT_PRODUCER_SECURITY_PROTOCOL=SASL_SSL
CONNECT_PRODUCER_SASL_MECHANISM=PLAIN
CONNECT_PRODUCER_SASL_JAAS_CONFIG=$${gcp:<gcp_project>:<gcp_secret_name>:latest}
